%section.bg-white.dark:bg-gray-900
  .max-w-2xl.px-4.py-8.mx-auto.lg:py-16
    %h2.mb-4.text-xl.font-bold.text-gray-900.dark:text-white
      = "Edit user: #{@user.full_name}"
    = form_with model: @user, url: user_path(@user), method: :patch, builder: TailwindFormBuilder do |f|
      .grid.gap-4.mb-4.sm:grid-cols-2.sm:gap-6.sm:mb-5
        .w-full
          %label.block.mb-2.text-sm.font-medium.text-gray-900.dark:text-white{:for => "first_name"}
            Fist name
          = f.text_field :first_name, class: "p-2.5", required: "required", placeholder: "First name"
        .w-full
          %label.block.mb-2.text-sm.font-medium.text-gray-900.dark:text-white{:for => "last_name"}
            Last name
          = f.text_field :last_name, class: "p-2.5", required: "required", placeholder: "Last name"
        .sm:col-span-2
          %label.block.mb-2.text-sm.font-medium.text-gray-900.dark:text-white{:for => "email"}
            Email
          = f.text_field :email, class: "p-2.5", disabled: true
        %div
          %label.block.mb-2.text-sm.font-medium.text-gray-900.dark:text-white{:for => "team_ids"}
            Team
          = f.select :team_ids, @teams.map { |team| [team.name, team.id] }, {}, { class: "p-2.5", multiple: true }
      .flex.items-center.space-x-4
        = f.submit "Update user", class: "py-2.5"
        %button.text-red-600.inline-flex.items-center.hover:text-white.border.border-red-600.hover:bg-red-600.focus:ring-4.focus:outline-none.focus:ring-red-300.font-medium.rounded-lg.text-sm.px-5.text-center.dark:border-red-500.dark:text-red-500.dark:hover:text-white.dark:hover:bg-red-600.dark:focus:ring-red-900{:class => "py-2.5", :type => "button"}
          %svg.w-5.h-5.mr-1.-ml-1{:fill => "currentColor", :viewbox => "0 0 20 20", :xmlns => "http://www.w3.org/2000/svg"}
            %path{"clip-rule" => "evenodd", :d => "M9 2a1 1 0 00-.894.553L7.382 4H4a1 1 0 000 2v10a2 2 0 002 2h8a2 2 0 002-2V6a1 1 0 100-2h-3.382l-.724-1.447A1 1 0 0011 2H9zM7 8a1 1 0 012 0v6a1 1 0 11-2 0V8zm5-1a1 1 0 00-1 1v6a1 1 0 102 0V8a1 1 0 00-1-1z", "fill-rule" => "evenodd"}
          Delete
