%tr.bg-white.border-b.dark:bg-gray-800.dark:border-gray-700
  %th.px-6.py-4.font-medium.text-gray-900.whitespace-nowrap.dark:text-white{:scope => "row", "data-role-id-param" => "#{role.id}", "data-action" => "click->role#navigate"}
    = role.id
  %td.px-6.py-4
    = role.name
  %td.px-6.py-4
    = role.role_type
  %td.px-6.py-4
    = role.description
  %td.px-6.py-4
    = role.permissions
